//#region Colors

$primary-text-color: #323232;
$darken-text-color: #635c73;
$secondary-text-color: #848e97;

$primary-color: #8d81ac;

//header colors
$bg-header-color: #000000;
$menu-bg-color: #27262a;
$tilte-color-text: #ffffff;
$grey-text: #848E97;
$main-color: #8D81AC;

//people talk colors
$bg-color:#4B3B4E;
$title-color: #FFFFFF;
$line-text-color:#645766;
$bottom-text-color: #918094;
//#endregion Colors

//#region Fonts

$primary-font: 'Montserrat', Arial, sans-serif;
$secondary-font: 'Lato', Arial, sans-serif;

//#endregion Fonts

